global
    maxconn 100
    log stdout format raw local0 info

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

# Stats interface
listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth ${HAPROXY_STATS_USER}:${HAPROXY_STATS_PASSWORD}
    stats admin if TRUE

# Health check endpoint
listen health_check
    mode http
    bind *:8008
    monitor-uri /health

# PostgreSQL write port (primary only)
listen postgres_write
    bind *:5432
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server patroni1 ${PATRONI1_PRIVATE_DOMAIN}:5432 maxconn 100 check port 8008
    server patroni2 ${PATRONI2_PRIVATE_DOMAIN}:5432 maxconn 100 check port 8008 backup
    server patroni3 ${PATRONI3_PRIVATE_DOMAIN}:5432 maxconn 100 check port 8008 backup

# PostgreSQL read port (all replicas, load balanced)
listen postgres_read
    bind *:5433
    option httpchk GET /replica
    http-check expect status 200
    balance leastconn
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server patroni1 ${PATRONI1_PRIVATE_DOMAIN}:5432 maxconn 100 check port 8008
    server patroni2 ${PATRONI2_PRIVATE_DOMAIN}:5432 maxconn 100 check port 8008
    server patroni3 ${PATRONI3_PRIVATE_DOMAIN}:5432 maxconn 100 check port 8008
